section.services
	.container
		.row
			.col-xs-12.col-md-10
				h1.services__title Advice For Everyone
				p.services__text Vestibulum liero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nib Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vesum ante ipsum primis in faucibus orci luctus et ultrices posuere cubisse sollicitudin velit sed leo. Ut pharetra augue nec auguem elit magna.
		.row
			.col-xs-12.col-sm-6.col-md-3
				section.service-item
					.service-item__icon
						svg(width='30', height='30')
							use(xlink:href='#map')
					h2.service-item__title Route Selection
					p.service-item__text Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duis sem feugiat.
			.col-xs-12.col-sm-6.col-md-3
				section.service-item
					.service-item__icon
						svg(width='30', height='30')
							use(xlink:href='#help')
					h2.service-item__title 24/7 Support
					p.service-item__text Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duis sem feugiat.
			.col-xs-12.col-sm-6.col-md-3
				section.service-item
					.service-item__icon
						svg(width='30', height='30')
							use(xlink:href='#earth')
					h2.service-item__title Wide Choice
					p.service-item__text Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duis sem feugiat.
			.col-xs-12.col-sm-6.col-md-3
				section.service-item
					.service-item__icon
						svg(width='30', height='30')
							use(xlink:href='#plane')
					h2.service-item__title Buy Tickets
					p.service-item__text Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duis sem feugiat.