footer.page-footer
	.container
		.row
			.col-xs-12.col-md-8.col-xl-9
				nav.main-nav
					ul.main-nav__list
						li.main-nav__item: a(href="#").main-nav__link Home
						li.main-nav__item: a(href="#").main-nav__link About
						li.main-nav__item: a(href="#").main-nav__link Destinations
						li.main-nav__item: a(href="#").main-nav__link Gallery
						li.main-nav__item: a(href="#").main-nav__link Blog
						li.main-nav__item: a(href="#").main-nav__link Contacts
			.col-xs-12.col-md-4.col-xl-3
				.social-links
					span.socil-links__item
					span.socil-links__item
					span.socil-links__item
					span.socil-links__item
					span.socil-links__item
					span.socil-links__item
		.row
			.col-xs-12.col-md-8
				p.footer__contacts St Stephen's House, Colston Ave, Bristol BS1 4ST, UK  /  Telephone: +1 800 603 6035
			.col-xs-12.col-md-4
				span.copyright © 2015 TripWay - Material UI Template.