header.page-header
	.page-header--dark-purple
		.container
			.row
				.col-xs-12.col-md-6.col-xl-4
					span.page-header__email.sprite__envelope info@tripway.com
					span.page-header__phone +321 233 4567
				.col-xs-12.col-md-6.col-xl-4
					.social-links
						span.social-links__item.social-links__fb
						span.social-links__item.social-links__pint
						span.social-links__item.social-links__tw
						span.social-links__item.social-links__vimeo.sprite__vimeo
						span.social-links__item.social-links__inst
						span.social-links__item.social-links__google.sprite__google
	.page-header--purple
		.container
			.row
				.col-xs-12.col-md-3.col-xl-2
					a.page-header__brand(href="#")
						img(href="svg/icon-logo.svg")
						span TripWay
				.col-xs-12.col-md-9.col-xl-10
					nav.main-nav
						ul.main-nav__list
							li.main-nav__item: a(href="#").main-nav__link 	Home
							li.main-nav__item
								a(href="#").main-nav__link About
								ul.main-nav__nested-list
									li.main-nav__nested-item: a(href="#") 	Testimonial
									li.main-nav__nested-item: a(href="#") FAQ
							li.main-nav__item: a(href="#").main-nav__link 	Destinations
							li.main-nav__item
								a(href="#").main-nav__link Gallery
								ul.main-nav__nested-list
									li.main-nav__nested-item: a(href="#") 	Europe
									li.main-nav__nested-item: a(href="#") 	Africa
									li.main-nav__nested-item: a(href="#") 	North America
									li.main-nav__nested-item: a(href="#") 	South America
									li.main-nav__nested-item: a(href="#") 	Australia
							li.main-nav__item: a(href="#").main-nav__link 	Blog
							li.main-nav__item: a(href="#").main-nav__link Contacts

