// Модальное окно

div#gallery-modal__overlay
	div#gallery-modal
		span#gallery-modal__close
			svg(width='14', height='14')
					use(xlink:href='#modal-close')
		div#gallery-modal__image
		p.gallery-modal__info
			span#gallery-modal__image-title
			span#gallery-modal__image-number
div#gallery-modal__controls
		div.control-btn.prev(data-target="prev")
			svg(width='35', height='35')
				use(xlink:href='#modal-arrow-left')
		div.control-btn.next(data-target="next")
			svg(width='35', height='35')
				use(xlink:href='#modal-arrow-right')
