section.our-job
	.container
		.row.our-job__wrapper
			.our-job__image
				img(src='img/our-job-image.jpg')
			.our-job__info
				h2.section-title.section-title--underlined What we do
				p.our-job__text Getting started in Webflow is a relatively simple. Head over to the website, create an account, and give the free trial a go. Make sure to open the interface in the latest version of Google Chrome because it is currently the only browser that is fully supported. New tools have emerged to address the challenges of responsive web design — tools such as Adobe Reflow and the recently released Macaw.
				p.our-job__text New tools have emerged to address the challenges of responsive web design — tools such as Adobe Reflow and the recently released Macaw. Today, we’ll look at one that I have tested extensively in the last few months. Though not perfect, it’s been a leap forward in productivity for the team that I work with. Its name is Webflow, and it could be the solution to the problems you face with static design comps produced in Photoshop and Fireworks. Getting started in Webflow is a relatively simple.
