section.our-history
	.container
		.row.our-history__wrapper
			.col-xs-12
				h2.section-title.section-title--underlined Our history
			.col-xs-12.col-md-4
				.our-history__item
					span.our-history__year 2002
					p.our-history__text Integer rutrum ante eu lacuestibulum libero nisl porta vel scelerisque eget malesuada at neque Vivamus eget nibh. Etiamursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in orci luctus.

			.col-xs-12.col-md-4
				.our-history__item
					span.our-history__year 2007
					p.our-history__text Integer rutrum ante eu lacuestibulum libero nisl porta vel scelerisque eget malesuada at neque Vivamus eget nibh. Etiamursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in orci luctus.

			.col-xs-12.col-md-4
				.our-history__item
					span.our-history__year 2009
					p.our-history__text Integer rutrum ante eu lacuestibulum libero nisl porta vel scelerisque eget malesuada at neque Vivamus eget nibh. Etiamursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in orci luctus.

			.col-xs-12.col-md-4
				.our-history__item
					span.our-history__year 2010
					p.our-history__text Integer rutrum ante eu lacuestibulum libero nisl porta vel scelerisque eget malesuada at neque Vivamus eget nibh. Etiamursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in orci luctus.

			.col-xs-12.col-md-4
				.our-history__item
					span.our-history__year 2012
					p.our-history__text Integer rutrum ante eu lacuestibulum libero nisl porta vel scelerisque eget malesuada at neque Vivamus eget nibh. Etiamursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in orci luctus.

			.col-xs-12.col-md-4
				.our-history__item
					span.our-history__year 2013
					p.our-history__text Integer rutrum ante eu lacuestibulum libero nisl porta vel scelerisque eget malesuada at neque Vivamus eget nibh. Etiamursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in orci luctus.