section.team
	.container
		.row
			.col-xs-12
				h2.section-title
		.row
			.col-xs-12.col-sm-6.col-md-3
				.team-member
					.team-member__image-wrapper
						img.team-member__image(src='img/team-member-peter.jpg')
						.team-member__social-links
							a(href='#').social-links__item
								svg(width='7', height='15')
									use(xlink:href='#facebook')
							a(href='#').social-links__item
								svg(width='16', height='13')
									use(xlink:href='#twitter')
							a(href='#').social-links__item
								svg(width='15', height='15')
									use(xlink:href='#instagram')
					h3.team-member__name Peter Martins
					span.team-member__job CEO, Co-Founder

			.col-xs-12.col-sm-6.col-md-3
				.team-member
					.team-member__image-wrapper
						img.team-member__image(src='img/team-member-maria.jpg')
						.team-member__social-links
							a(href='#').social-links__item
								svg(width='7', height='15')
									use(xlink:href='#facebook')
							a(href='#').social-links__item
								svg(width='16', height='13')
									use(xlink:href='#twitter')
							a(href='#').social-links__item
								svg(width='15', height='15')
									use(xlink:href='#instagram')
					h3.team-member__name Maria Matters
					span.team-member__job Co-Founder

			.col-xs-12.col-sm-6.col-md-3
				.team-member
					.team-member__image-wrapper
						img.team-member__image(src='img/team-member-ashley.jpg')
						.team-member__social-links
							a(href='#').social-links__item
								svg(width='7', height='15')
									use(xlink:href='#facebook')
							a(href='#').social-links__item
								svg(width='16', height='13')
									use(xlink:href='#twitter')
							a(href='#').social-links__item
								svg(width='15', height='15')
									use(xlink:href='#instagram')
					h3.team-member__name Ashley Martins
					span.team-member__job Account Manager

			.col-xs-12.col-sm-6.col-md-3
				.team-member
					.team-member__image-wrapper
						img.team-member__image(src='img/team-member-charles.jpg')
						.team-member__social-links
							a(href='#').social-links__item
								svg(width='7', height='15')
									use(xlink:href='#facebook')
							a(href='#').social-links__item
								svg(width='16', height='13')
									use(xlink:href='#twitter')
							a(href='#').social-links__item
								svg(width='15', height='15')
									use(xlink:href='#instagram')
					h3.team-member__name Charles Perrault
					span.team-member__job Account Manager



