section.popular
	.container
		.row
			h2.section-title Popular Destinations
		.row.popular__wrapper

			article.popular-item
				img.popular-item__image(src="img/dest_melbourne.jpg")
				.popular-item__info
					h3.popular-item__title
						a(href='#').popular-item__link Melbourne
						span.popular-item__price  from 1400$
					p.popular-item__text Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.
					a(href="#").btn.btn--md More About This

			article.popular-item
				img.popular-item__image(src="img/dest_chicago.jpg")
				.popular-item__info
					h3.popular-item__title
						a(href='#').popular-item__link Chicago
						span.popular-item__price from 900$
					p.popular-item__text Fermentum tortor non enim 	aliquet mauris del condimentum. Nam aliquam 	pretium duis sem feugiat condimentum mauris sem.
					a(href="#").btn.btn--md More About This

			article.popular-item
				img.popular-item__image(src="img/dest_colorado.jpg")
				.popular-item__info
					h3.popular-item__title
						a(href='#').popular-item__link Westminster
						span.popular-item__price from 1200$
					p.popular-item__text Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.
					a(href="#").btn.btn--md More About This

			article.popular-item
				img.popular-item__image(src="img/dest_venice.jpg")
				.popular-item__info
					h3.popular-item__title
						a(href='#').popular-item__link Venesia
						span.popular-item__price from 1600$
					p.popular-item__text Fermentum tortor non enim 	aliquet mauris del condimentum. Nam aliquam 	pretium duis sem feugiat condimentum mauris sem.
					a(href="#").btn.btn--md More About This

			article.popular-item
				img.popular-item__image(src="img/dest_newyork.jpg")
				.popular-item__info
					h3.popular-item__title
						a(href='#').popular-item__link New York
						span.popular-item__price from 1700$
					p.popular-item__text Fermentum tortor non enim 	aliquet mauris del condimentum. Nam aliquam 	pretium duis sem feugiat condimentum mauris sem.
					a(href="#").btn.btn--md More About This

			article.popular-item
				img.popular-item__image(src="img/dest_istanbul.jpg")
				.popular-item__info
					h3.popular-item__title
						a(href='#').popular-item__link Istanbul
						span.popular-item__price from 1300$
					p.popular-item__text Fermentum tortor non enim 	aliquet mauris del condimentum. Nam aliquam 	pretium duis sem feugiat condimentum mauris sem.
					a(href="#").btn.btn--md More About This