

section.popular-destinations
	.container
		.row
			.col-xs-12
				h2.section-title Popular Destinations
		.row.destinations__wrapper

			article.destination-item
				a(href='#').destination-item__image
					img(src="img/dest_melbourne.jpg")
					span.destination-item__see-more
				.destination-item__info
					h3.destination-item__title
						a(href='#').destination-item__link Melbourne
						span.destination-item__price  from 1400$
					p.destination-item__text Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.. Nam aliquam pretium duis sem feugiat condimentum mauris sem.. Nam aliquam pretium duis sem feugiat condimentum mauris sem.
					a(href="#").btn.btn--md More About This

			article.destination-item
				a(href='#').destination-item__image
					img(src="img/dest_chicago.jpg")
					span.destination-item__see-more
				.destination-item__info
					h3.destination-item__title
						a(href='#').destination-item__link Chicago
						span.destination-item__price from 900$
					p.destination-item__text Fermentum tortor non enim 	aliquet mauris del condimentum. Nam aliquam 	pretium duis sem feugiat condimentum mauris sem.
					a(href="#").btn.btn--md More About This

			article.destination-item
				a(href='#').destination-item__image
					img(src="img/dest_colorado.jpg")
					span.destination-item__see-more
				.destination-item__info
					h3.destination-item__title
						a(href='#').destination-item__link Westminster
						span.destination-item__price from 1200$
					p.populdestination__text Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.
					a(href="#").btn.btn--md More About This

			article.destination-item
				a(href='#').destination-item__image
					img(src="img/dest_venice.jpg")
					span.destination-item__see-more
				.destination-item__info
					h3.destination-item__title
						a(href='#').destination-item__link Venesia
						span.destination-item__price from 1600$
					p.destination-item__text Fermentum tortor non enim 	aliquet mauris del condimentum. Nam aliquam 	pretium duis sem feugiat condimentum mauris sem.
					a(href="#").btn.btn--md More About This

			article.destination-item
				a(href='#').destination-item__image
					img(src="img/dest_newyork.jpg")
					span.destination-item__see-more
				.destination-item__info
					h3.destination-item__title
						a(href='#').destination-item__link New York
						span.destination-item__price from 1700$
					p.destination-item__text Fermentum tortor non enim 	aliquet mauris del condimentum. Nam aliquam 	pretium duis sem feugiat condimentum mauris sem.
					a(href="#").btn.btn--md More About This

			article.destination-item
				a(href='#').destination-item__image
					img(src="img/dest_istanbul.jpg")
					span.destination-item__see-more
				.destination-item__info
					h3.destination-item__title
						a(href='#').destination-item__link Istanbul
						span.destination-item__price from 1300$
					p.destination-item__text Fermentum tortor non enim 	aliquet mauris del condimentum. Nam aliquam 	pretium duis sem feugiat condimentum mauris sem.
					a(href="#").btn.btn--md More About This