section.popular
	.container
		.row
			h2.popular__title Popular Destinations
		.row
			.col-xs-12.col-sm-6.col-md-4
				article.popular-item
					img.popular-item__image(src="img/dest_melbourne.jpg")
					h3.popular-item__title Melbourne
					span.popular-item__price  from 1400$
					p.popular-item__text Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.
					a(href="#").btn.btn--md More About This
			.col-xs-12.col-sm-6.col-md-4
				article.popular-item
					img.popular-item__image(src="img/dest_chicago.jpg")
					h3.popular-item__title Chicago
					span.popular-item__price from 900$
					p.popular-item__text Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.
					a(href="#").btn.btn--md More About This
			.col-xs-12.col-sm-6.col-md-4
				article.popular-item
					img.popular-item__imagesrc(src="img/dest_colorado.jpg")
					h3.popular-item__title Westminster
					span.popular-item__price from 1200$
					p.popular-item__text Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.
					a(href="#").btn.btn--md More About This
			.col-xs-12.col-sm-6.col-md-4
				article.popular-item
					img.popular-item__imagesrc(src="img/dest_venice.jpg")
					h3.popular-item__title Venesia
					span.popular-item__price from 1600$
					p.popular-item__text Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.
					a(href="#").btn.btn--md More About This
			.col-xs-12.col-sm-6.col-md-4
				article.popular-item
					img.popular-item__imagesrc(src="img/dest_newyork.jpg")
					h3.popular-item__title New York
					span.popular-item__price from 1700$
					p.popular-item__text Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.
					a(href="#").btn.btn--md More About This
			.col-xs-12.col-sm-6.col-md-4
				article.popular-item
					img.popular-item__imagesrc(src="img/dest_istanbul.jpg")
					h3.popular-item__title Istanbul
					span.popular-item__price from 1300$
					p.popular-item__text Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.
					a(href="#").btn.btn--md More About This