section.reviews
	.container
		.row
			h2.section-title Testimonials
		.row.reviews__wrapper

				.review-item
					img.review-item__image(src="img/review-author_1.png")
					blockquote
						p.review-item__text Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus. Vestibulum faucibus scelerisque nisl vitae scelerisque. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed faucibus felis fringilla.vitae scelerisque. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed faucibus felis fringilla.
						cite.review-item__author
							span.review-item__author-name Marco Polo,
								= ' '
							span.review-item__author-job partner sales.

				.review-item
					img.review-item__image(src="img/review-author_2.png")
					blockquote
						p.review-item__text Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus. Vestibulum faucibus scelerisque nisl vitae scelerisque. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed faucibus felis fringilla.
						cite.review-item__author
							span.review-item__author-name Tim Barkley,
							= ' '
							span.review-item__author-job manager.

				.review-item
					img.review-item__image(src="img/review-author_3.png")
					blockquote
						p.review-item__text Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus. Vestibulum faucibus scelerisque nisl vitae scelerisque. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed faucibus felis fringilla.
						cite.review-item__author
							span.review-item__author-name Lisa Whistler,
							= ' '
							span.review-item__author-job consultant.

				.review-item
					img.review-item__image(src="img/review-author_4.png")
					blockquote
						p.review-item__text Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus. Vestibulum faucibus scelerisque nisl vitae scelerisque. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed faucibus felis fringilla.
						cite.review-item__author
							span.review-item__author-name Mr. John Anderson,
							= ' '
							span.review-item__author-job designer.