.row
	.col-xs-12.col-sm-6.col-md-3
		section.service-item
			.service-item__icon.service-item__icon--1
				svg(width='30', height='30')
					use(xlink:href='#map')
			h2.service-item__title Route Selection
			p.service-item__text Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duis sem feugiat.
	.col-xs-12.col-sm-6.col-md-3
		section.service-item.sr-delay-015
			.service-item__icon.service-item__icon--2
				svg(width='30', height='30')
					use(xlink:href='#help')
			h2.service-item__title 24/7 Support
			p.service-item__text Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duis sem feugiat.
	.col-xs-12.col-sm-6.col-md-3
		section.service-item.sr-delay-03
			.service-item__icon.service-item__icon--3
				svg(width='30', height='30')
					use(xlink:href='#earth')
			h2.service-item__title Wide Choice
			p.service-item__text Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duis sem feugiat.
	.col-xs-12.col-sm-6.col-md-3
		section.service-item.sr-delay-045
			.service-item__icon.service-item__icon--4
				svg(width='30', height='30')
					use(xlink:href='#plane')
			h2.service-item__title Buy Tickets
			p.service-item__text Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duis sem feugiat.