// Sidebar

.col-xs-12.col-md-4.sidebar
	.categories
		h3.categories__title Categories
		ul.dotted-list
			li.dotted-list__item: a(href='#').dotted-list__link Eurasia for your trips
			li.dotted-list__item: a(href='#').dotted-list__link North America and USA
			li.dotted-list__item: a(href='#').dotted-list__link South America and Japan
			li.dotted-list__item: a(href='#').dotted-list__link Australia & Antarctica

	.archives
		h3.archives__title Archives
		ul.dotted-list
			li.dotted-list__item: a(href='#').dotted-list__link September 2014
			li.dotted-list__item: a(href='#').dotted-list__link August 2014
			li.dotted-list__item: a(href='#').dotted-list__link July 2014
			li.dotted-list__item: a(href='#').dotted-list__link March 2014
			li.dotted-list__item: a(href='#').dotted-list__link February 2014

	section.recent-post
		h3.recent-post__title Recent Posts
		article.recent-post__item
			h5.recent-post__title: a(href='#') My Group Tours: Two Trips to Europe!
			p.recent-post__lead At the end of 2013, I started leading group trips. I’ve done four so far and have really enjoyed them. I like meeting readers...
			span.recent-post__date 14 March 2015

		article.recent-post__item
			h5.recent-post__title: a(href='#') Everything You Need to Know About Using Smartphones When You Travel
			p.recent-post__lead On the first Tuesday of each month, Dave Dean from Too Many Adapters gives us tips and advice on travel tech and gear. He is our resident...
			span.recent-post__date 14 March 2015

		article.recent-post__item
			h5.recent-post__title: a(href='#') What Makes a Nomad a Nomad?
			p.recent-post__lead At the end of 2013, I started leading group trips. I’ve done four so far and have really enjoyed them. I like meeting readers...
			span.recent-post__date 14 March 2015