.promo
	.container-fluid
		.row
			.wrapper
				.promo-slider
					.promo__slider-item
					.promo__slider-item
				.promo-slider__nav
					a(href="#").promo-slider-prev
					a(href="#").promo-slider-next

	.container
		.row
			.promo__title.col.xs-12.col-md-3.col-xl-3 San Francisco
			.promo__text.col.xs-12.col-md-6.col-xl-6 Mauris fermentum tortor non enim aliquet 	ndimentum. Nam aliquam pretium sem feugiat. Duis sem est, viverra eu interdum.
			.col.xs-12.col-md-3.col-xl-3
				a.btn More About This


