.promo
	.container-fluid
		.row
			.wrapper
				.promo-slider#promo-slider
					.promo-slider__item
					.promo-slider__item
				.promo-slider__nav
					a(href="#").promo-slider__prev
						svg(width='20', height='35')
							use(xlink:href='#arrow-left')
					a(href="#").promo-slider__next
						svg(width='20', height='35')
							use(xlink:href='#arrow-right')

	.container
		.row.promo__info
			.promo__title San Francisco
			p.promo__text.sr-delay-015 Mauris fermentum tortor non enim aliquet 	ndimentum. Nam aliquam pretium sem feugiat. Duis sem est, viverra eu interdum.
			a.btn.btn--md.sr-btn.sr-delay-03 More About This


