<footer class="page-footer">
  <div class="container">
    <div class="row footer-rows__wrapper">
      <div class="col-xs-12 col-md-8 col-xl-7">
        <nav class="main-nav main-nav--footer">
          <ul class="main-nav__list main-nav__list--footer">
            <li class="main-nav__item"><a href="#" class="main-nav__link">Home</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">About</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">Destinations</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">Gallery</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">Blog</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">Contacts</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-xs-12 col-md-4 col-xl-4">
        <div class="social-links social-links--footer">
          <a href="#" class="social-links__item"> <svg width="7" height="15">
              <use xlink:href="#facebook"></use>
            </svg></a>
          <a href="#" class="social-links__item"> <svg width="12" height="15">
              <use xlink:href="#pinterest"></use>
            </svg></a>
          <a href="#" class="social-links__item"> <svg width="16" height="13">
              <use xlink:href="#twitter"></use>
            </svg></a>
          <a href="#" class="social-links__item"> <svg width="16" height="14">
              <use xlink:href="#vimeo"></use>
            </svg></a>
          <a href="#" class="social-links__item"> <svg width="15" height="15">
              <use xlink:href="#instagram"></use>
            </svg></a>
          <a href="#" class="social-links__item"> <svg width="16" height="15">
              <use xlink:href="#google"></use>
            </svg></a>
        </div>
      </div>
    </div>
    <div class="row footer-rows__wrapper">
      <div class="col-xs-12 col-md-8">
        <p class="page-footer__contacts">St Stephen's House, Colston Ave, Bristol BS1 4ST, UK / Telephone: +1 800 603 6035</p>
      </div>
      <div class="col-xs-12 col-md-4"><span class="copyright">© 2015 TripWay - Material UI Template.</span></div>
    </div>
  </div>
</footer>