<section class="popular-destinations">
  <div class="container">
    <div class="row">
      <h2 class="section-title">Popular Destinations</h2> </div>
    <div class="row popular__wrapper">
      <article class="destination-item">
        <a href="#" class="destination-item__image"><img src="img/dest_melbourne.jpg" /><span class="destination-item__see-more"></span></a>
        <div class="destination-item__info">
          <h3 class="destination-item__title"><a href="#" class="destination-item__link">Melbourne</a><span class="destination-item__price"> from 1400$</span></h3>
          <p class="destination-item__text">Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.. Nam aliquam pretium duis sem feugiat condimentum mauris sem.. Nam aliquam pretium duis sem feugiat condimentum mauris sem.</p>
          <a
            href="#" class="btn btn--md">More About This</a>
        </div>
      </article>
      <article class="destination-item">
        <a href="#" class="destination-item__image"><img src="img/dest_chicago.jpg" /><span class="destination-item__see-more"></span></a>
        <div class="destination-item__info">
          <h3 class="destination-item__title"><a href="#" class="destination-item__link">Chicago</a><span class="destination-item__price">from 900$</span></h3>
          <p class="destination-item__text">Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.</p><a href="#" class="btn btn--md">More About This</a> </div>
      </article>
      <article class="destination-item">
        <a href="#" class="destination-item__image"><img src="img/dest_colorado.jpg" /><span class="destination-item__see-more"></span></a>
        <div class="destination-item__info">
          <h3 class="destination-item__title"><a href="#" class="destination-item__link">Westminster</a><span class="destination-item__price">from 1200$</span></h3>
          <p class="populdestination__text">Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.</p><a href="#" class="btn btn--md">More About This</a> </div>
      </article>
      <article class="destination-item">
        <a href="#" class="destination-item__image"><img src="img/dest_venice.jpg" /><span class="destination-item__see-more"></span></a>
        <div class="destination-item__info">
          <h3 class="destination-item__title"><a href="#" class="destination-item__link">Venesia</a><span class="destination-item__price">from 1600$</span></h3>
          <p class="destination-item__text">Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.</p><a href="#" class="btn btn--md">More About This</a> </div>
      </article>
      <article class="destination-item">
        <a href="#" class="destination-item__image"><img src="img/dest_newyork.jpg" /><span class="destination-item__see-more"></span></a>
        <div class="destination-item__info">
          <h3 class="destination-item__title"><a href="#" class="destination-item__link">New York</a><span class="destination-item__price">from 1700$</span></h3>
          <p class="destination-item__text">Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.</p><a href="#" class="btn btn--md">More About This</a> </div>
      </article>
      <article class="destination-item">
        <a href="#" class="destination-item__image"><img src="img/dest_istanbul.jpg" /><span class="destination-item__see-more"></span></a>
        <div class="destination-item__info">
          <h3 class="destination-item__title"><a href="#" class="destination-item__link">Istanbul</a><span class="destination-item__price">from 1300$</span></h3>
          <p class="destination-item__text">Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.</p><a href="#" class="btn btn--md">More About This</a> </div>
      </article>
    </div>
  </div>
</section>