<section class="reviews">
  <div class="container">
    <div class="row">
      <h2 class="section-title">Testimonials</h2> </div>
    <div class="row reviews__wrapper">
      <div class="review-item"><img src="img/review-author_1.png" class="review-item__image" />
        <blockquote>
          <p class="review-item__text">Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus. Vestibulum faucibus scelerisque nisl vitae scelerisque. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed
            faucibus felis fringilla.vitae scelerisque. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed faucibus felis fringilla.</p> <cite class="review-item__author"><span class="review-item__author-name">Marco Polo, </span><span class="review-item__author-job">partner sales.</span></cite>          </blockquote>
      </div>
      <div class="review-item"><img src="img/review-author_2.png" class="review-item__image" />
        <blockquote>
          <p class="review-item__text">Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus. Vestibulum faucibus scelerisque nisl vitae scelerisque. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed
            faucibus felis fringilla.</p> <cite class="review-item__author"><span class="review-item__author-name">Tim Barkley,</span> <span class="review-item__author-job">manager.</span>
          </cite> </blockquote>
      </div>
      <div class="review-item"><img src="img/review-author_3.png" class="review-item__image" />
        <blockquote>
          <p class="review-item__text">Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus. Vestibulum faucibus scelerisque nisl vitae scelerisque. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed
            faucibus felis fringilla.</p> <cite class="review-item__author"><span class="review-item__author-name">Lisa Whistler,</span> <span class="review-item__author-job">consultant.</span>
          </cite> </blockquote>
      </div>
      <div class="review-item"><img src="img/review-author_4.png" class="review-item__image" />
        <blockquote>
          <p class="review-item__text">Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus. Vestibulum faucibus scelerisque nisl vitae scelerisque. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed
            faucibus felis fringilla.</p> <cite class="review-item__author"><span class="review-item__author-name">Mr. John Anderson,</span> <span class="review-item__author-job">designer.</span>
          </cite> </blockquote>
      </div>
    </div>
  </div>
</section>