<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10">
        <h1 class="services__title">Advice For Everyone</h1>
        <p class="services__text">Vestibulum liero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nib Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vesum ante ipsum primis in faucibus orci luctus et ultrices posuere cubisse sollicitudin velit
          sed leo. Ut pharetra augue nec auguem elit magna.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <section class="service-item">
          <div class="service-item__icon service-item__icon--1"> <svg width="30" height="30">
              <use xlink:href="#map"></use>
            </svg> </div>
          <h2 class="service-item__title">Route Selection</h2>
          <p class="service-item__text">Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duis sem feugiat.</p>
        </section>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <section class="service-item sr-delay-015">
          <div class="service-item__icon service-item__icon--2"> <svg width="30" height="30">
              <use xlink:href="#help"></use>
            </svg> </div>
          <h2 class="service-item__title">24/7 Support</h2>
          <p class="service-item__text">Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duis sem feugiat.</p>
        </section>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <section class="service-item sr-delay-03">
          <div class="service-item__icon service-item__icon--3"> <svg width="30" height="30">
              <use xlink:href="#earth"></use>
            </svg> </div>
          <h2 class="service-item__title">Wide Choice</h2>
          <p class="service-item__text">Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duis sem feugiat.</p>
        </section>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <section class="service-item sr-delay-045">
          <div class="service-item__icon service-item__icon--4"> <svg width="30" height="30">
              <use xlink:href="#plane"></use>
            </svg> </div>
          <h2 class="service-item__title">Buy Tickets</h2>
          <p class="service-item__text">Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium duis sem feugiat.</p>
        </section>
      </div>
    </div>
  </div>
</section>