<div class="promo">
  <div class="container-fluid">
    <div class="row">
      <div class="wrapper">
        <div id="promo-slider" class="promo-slider">
          <div class="promo-slider__item"></div>
          <div class="promo-slider__item"></div>
        </div>
        <div class="promo-slider__nav">
          <a href="#" class="promo-slider__prev"> <svg width="20" height="35">
              <use xlink:href="#arrow-left"></use>
            </svg></a>
          <a href="#" class="promo-slider__next"> <svg width="20" height="35">
              <use xlink:href="#arrow-right"></use>
            </svg></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row promo__info">
      <div class="promo__title">San Francisco</div>
      <p class="promo__text sr-delay-015">Mauris fermentum tortor non enim aliquet ndimentum. Nam aliquam pretium sem feugiat. Duis sem est, viverra eu interdum.</p><a class="btn btn--md sr-btn sr-delay-03">More About This</a> </div>
  </div>
</div>