- var breadcrumbs = {'Home':'index.html', 'Blog':'blog.html'}

doctype html
html(lang="ru").no-js
	include components/head
	body
		//Header
		include components/header
		//
			Main
		main
			.container
				.row
					.col-xs-12
						include components/breadcrumbs

				.row.blog-wrapper
					.col-xs-12.col-md-8.blog-items
						article.blog-post
							h1.blog-post__title: a(href='') Popular Destinations
							span.blog-post__date 16 March 2015
							a(href='').blog-post__image
								img(src='img/post-image-1.jpg')
							p.blog-post__lead Stakeholders donation Action Against Hunger cross-agency coordination meaningful Bill and Melinda Gates life-saving.
							p.blog-post__text New tools have emerged to address the challenges of responsive web design — tools such as Adobe Reflow and the recently released Macaw. Today, we’ll look at one that I have tested extensively in the last few months. Though not perfect, it’s been a leap forward in productivity for the team that I work with. Its name is Webflow, and it could be the solution to the problems you face with static design comps produced in Photoshop and Fireworks.
							a.btn.btn--medium Read more

						article.blog-post
							h1.blog-post__title: a(href='') Everything You Need to Know About Using  Smartphones When You Travel
							span.blog-post__date 12 March 2015
							a(href='').blog-post__image
								img(src='img/post-image-2.jpg')
							p.blog-post__lead Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem.
							p.blog-post__text Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi…
							a.btn.btn--medium Read more

						article.blog-post
							h1.blog-post__title: a(href='') 12 Things Not to Do When You Travel
							span.blog-post__date 10 March 2015
							a(href='').blog-post__image
								img(src='img/post-image-3.jpg')
							p.blog-post__lead Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem.
							p.blog-post__text Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi…
							a.btn.btn--medium Read more

						article.blog-post
							h1.blog-post__title: a(href='') Etiam dictum egestas
							span.blog-post__date 8 March 2015
							a(href='').blog-post__image
								img(src='img/post-image-4.jpg')
							p.blog-post__lead Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem.
							p.blog-post__text Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi…
							a.btn.btn--medium Read more

						article.blog-post
							h1.blog-post__title: a(href='') Etiam dictum egestas
							span.blog-post__date 8 March 2015
							a(href='').blog-post__image
								img(src='img/post-image-4.jpg')
							p.blog-post__lead Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem.
							p.blog-post__text Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi…
							a.btn.btn--medium Read more

						article.blog-post
							h1.blog-post__title: a(href='') Etiam dictum egestas
							span.blog-post__date 8 March 2015
							a(href='').blog-post__image
								img(src='img/post-image-4.jpg')
							p.blog-post__lead Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem.
							p.blog-post__text Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi…
							a.btn.btn--medium Read more

						article.blog-post
							h1.blog-post__title: a(href='') Etiam dictum egestas
							span.blog-post__date 8 March 2015
							a(href='').blog-post__image
								img(src='img/post-image-4.jpg')
							p.blog-post__lead Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem.
							p.blog-post__text Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi…
							a.btn.btn--medium Read more

						article.blog-post
							h1.blog-post__title: a(href='') Etiam dictum egestas
							span.blog-post__date 8 March 2015
							a(href='').blog-post__image
								img(src='img/post-image-4.jpg')
							p.blog-post__lead Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem.
							p.blog-post__text Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi…
							a.btn.btn--medium Read more

						article.blog-post
							h1.blog-post__title: a(href='') Etiam dictum egestas
							span.blog-post__date 8 March 2015
							a(href='').blog-post__image
								img(src='img/post-image-4.jpg')
							p.blog-post__lead Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem.
							p.blog-post__text Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi…
							a.btn.btn--medium Read more

						article.blog-post
							h1.blog-post__title: a(href='') Etiam dictum egestas
							span.blog-post__date 8 March 2015
							a(href='').blog-post__image
								img(src='img/post-image-4.jpg')
							p.blog-post__lead Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem.
							p.blog-post__text Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi…
							a.btn.btn--medium Read more

						div.pagination#pagination





					include components/sidebar

			//
				Footer
			include components/footer

		script(type="text/javascript", src="js/vendor/vendor-bundle.min.js")
		script(type='text/javascript', src=' http://code.jquery.com/jquery-migrate-1.3.0.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-hashchange/v1.3/jquery.ba-hashchange.js")
		script(type="text/javascript", src='js/custom/custom-bundle.js')
		script(src="js/vendor/jquery.paging.min.js")
		script.
			(function() {

					var prev = {
							start: 0,
							stop: 0
					};


					var content = $('.blog-post');
					console.log(content.length);

					var Paging = $("#pagination").paging(content.length, {
							onSelect: function() {

									var data = this.slice;

									content.slice(prev[0], prev[1]).css('display', 'none');
									content.slice(data[0], data[1]).fadeIn("slow");

									prev = data;

									return true; // locate!
							},
							onFormat: function(type) {

									switch (type) {

											case 'block':

													if (!this.active)
															return '<span class="disabled">' + this.value + '</span>';
													else if (this.value != this.page)
															return '<a class="pagination__link" href="#' + this.value + '">' + this.value + '</a>';
													return '<span class="pagination__link pagination__link--active">' + this.value + '</span>';

											case 'right':
											case 'left':

													if (!this.active) {
															return '';
													}
													return '<a href="#' + this.value + '">' + this.value + '</a>';

											case 'next':

													if (this.active) {
															return '<a href="#' + this.value + '" class="pagination__link">Next</a>';
													}
													return '<span style="display:none">Next</span>';

											case 'prev':

													if (this.active) {
															return '<a href="#' + this.value + '" class="pagination__link">Previous</a>';
													}
													return '<span style="display:none">Previous</span>';

											case 'first':

													if (this.active) {
															return '<a href="#' + this.value + '" class="pagination__link">First</a>';
													}
													return '<span style="display:none">First</span>';

											case 'last':

													if (this.active) {
															return '<a href="#' + this.value + '" class="pagination__link">Last</a>';
													}
													return '<span style="display:none">Last</span>';

											case 'fill':
													if (this.active) {
															return "...";
													}
									}
									return ""; // return nothing for missing branches
							},
							format: '[ < ncn! > ]',
							perpage: 3,
							lapping: 0,
							page: null // we await hashchange() event
					});


					$(window).hashchange(function() {

							if (window.location.hash)
									Paging.setPage(window.location.hash.substr(1));
							else
									Paging.setPage(1); // we dropped "page" support and need to run it by hand
					});

					$(window).hashchange();
			})();

