- var breadcrumbs = {'Home':'index.html', 'Blog':'blog.html'}

doctype html
html(lang="ru").no-js
	include components/head
	body
		//Header
		include components/header
		//
			Main
		main
			.container
				.row
					.col-xs-12
						include components/breadcrumbs

				.row.blog-wrapper
					.col-xs-12.col-md-8
						div.blog-items
						div.pagination#pagination

					include components/sidebar

			//
				Footer
			include components/footer

		script(type="text/javascript", src="js/vendor/vendor-bundle.min.js")
		script(type='text/javascript', src=' http://code.jquery.com/jquery-migrate-1.3.0.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-hashchange/v1.3/jquery.ba-hashchange.js")
		script(src="js/vendor/jquery.paging.min.js")
		script(type="text/javascript", src='js/custom/custom-bundle.js')
