include mixins/gallery-item

.row.row--no-columns.gallery-content__row--2items

	+gallery-item('img/dest_melbourne.jpg','Melbourne',
	'Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.')

	+gallery-item('img/gallery-westminster.jpg','Westminster',
	'Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.')

br

.row.row--no-columns.gallery-content__row--3items
	+gallery-item('img/dest_melbourne.jpg','Melbourne',
	'Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.')

	+gallery-item('img/dest_chicago.jpg','Chicago',
	'Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.')

	+gallery-item('img/dest_colorado.jpg','Colorado',
	'Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.')

br

.row.row--no-columns.gallery-content__row--4items
	+gallery-item('img/dest_melbourne.jpg','Melbourne',
	'Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.')

	+gallery-item('img/dest_chicago.jpg','Chicago',
	'Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.')

	+gallery-item('img/dest_colorado.jpg','Colorado',
	'Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.')

	+gallery-item('img/dest_newyork.jpg','New York',
	'Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.')

br
//- page 2

.row.row--no-columns.gallery-content__row--2items

	+gallery-item('img/dest_melbourne.jpg','Melbourne',
	'Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.')

	+gallery-item('img/gallery-westminster.jpg','Westminster',
	'Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.')

br

.row.row--no-columns.gallery-content__row--3items
	+gallery-item('img/dest_melbourne.jpg','Melbourne',
	'Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.')

	+gallery-item('img/dest_chicago.jpg','Chicago',
	'Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.')

	+gallery-item('img/dest_colorado.jpg','Colorado',
	'Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.')

br

.row.row--no-columns.gallery-content__row--4items
	+gallery-item('img/dest_melbourne.jpg','Melbourne',
	'Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.')

	+gallery-item('img/dest_chicago.jpg','Chicago',
	'Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.')

	+gallery-item('img/dest_colorado.jpg','Colorado',
	'Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.')

	+gallery-item('img/dest_newyork.jpg','New York',
	'Fermentum tortor non enim aliquet mauris del condimentum. Nam aliquam pretium duis sem feugiat condimentum mauris sem.')
