doctype html
html(lang="ru")
	include components/head
	body
		include components/header
		include components/slider
		include components/about
		.promo-line.promo-line--purple
			.container
				.row.promo-line__info
					p.promo-line__text Need useful advice? You're in the right place!
					a.btn.btn--md Contact Us For This
		include components/popular
		.promo-line
			.container
				.row.promo-line__info
					p.promo-line__text Love discounts? Subscribe to newsletter!
					form.subscription
						input(type="text", placeholder="Your email").field.field--medium
						input(type="submit" value="Subscribe").btn.btn--md.btn--white
		include components/reviews
		include components/footer

		script(type="text/javascript", src="js/vendor/vendor-bundle.min.js")
		script(type='text/javascript', src=' http://code.jquery.com/jquery-migrate-1.3.0.min.js')
		script(type="text/javascript", src='js/custom/custom-bundle.min.js')