- var breadcrumbs = {'Home':'index.html', 'About':'about.html', 'Testimonials':'testimonials.html'}

doctype html
html(lang="ru").no-js
	include components/head
	body
		//Header
		include components/header
		//
			Main
		main
			.container
				.row
					.col-xs-12
						include components/breadcrumbs
				.row
					.col-xs-12
						h1.page-title Testimonials
				.row

					.col-xs-12.col-md-8.testimonial-items
						.review-item.review-item--fullwidth
							img.review-item__image(src="img/review-author_1.png")
							blockquote
								p.review-item__text Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus. Vestibulum faucibus scelerisque nisl vitae scelerisque. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed faucibus felis fringilla.vitae scelerisque. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed faucibus felis fringilla.
								cite.review-item__author
									span.review-item__author-name Marco Polo,
										= ' '
									span.review-item__author-job partner sales.

						.review-item.review-item--fullwidth
							img.review-item__image(src="img/review-author_2.png")
							blockquote
								p.review-item__text Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus. Vestibulum faucibus scelerisque nisl vitae scelerisque. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed faucibus felis fringilla.
								cite.review-item__author
									span.review-item__author-name Tim Barkley,
									= ' '
									span.review-item__author-job manager.

						.review-item.review-item--fullwidth
							img.review-item__image(src="img/review-author_3.png")
							blockquote
								p.review-item__text Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus. Vestibulum faucibus scelerisque nisl vitae scelerisque. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed faucibus felis fringilla.
								cite.review-item__author
									span.review-item__author-name Lisa Whistler,
									= ' '
									span.review-item__author-job consultant.

						.review-item.review-item--fullwidth
							img.review-item__image(src="img/review-author_4.png")
							blockquote
								p.review-item__text Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget volutpat lacus. Vestibulum faucibus scelerisque nisl vitae scelerisque. Sed tristique metus eu quam viverra malesuada. Cras porta eros nec libero quis bibendum sed faucibus felis fringilla.
								cite.review-item__author
									span.review-item__author-name Mr. John Anderson,
									= ' '
									span.review-item__author-job designer.

					include components/sidebar

			//
				Footer
			include components/footer

		script(type="text/javascript", src="js/vendor/vendor-bundle.min.js")
		script(type='text/javascript', src=' http://code.jquery.com/jquery-migrate-1.3.0.min.js')
		script(type="text/javascript", src='js/custom/custom-bundle.js')