
/*********************************

Page Header

*********************************/

.page-header{
	& svg {
		fill: currentColor;
	}

	&--dark-purple {
		background-color: @color__purple-dark;
		color: rgba(255,255,255, 0.75);
		font-size: @font-size--small;
		text-transform: uppercase;

		.row {
			padding: 10px 0;
			height: 80px;
			text-align: center;


			.media-tablet({
				.main-between();
				height: 40px;
				.cross-center();
				text-align: left;
				});
		}
	}

	&__email {
			margin-right: 16px;
			& svg {
				margin-right: 12px;
				margin-bottom: -1px;
			}
	}

	&__phone {
			& svg {
				margin-right: 11px;
				margin-bottom: -1px;
			}
	}

	&--purple {
	background-color: @color__purple;
	padding: 30px 0;
		.row {
			text-align: center;

			.media-tablet({
				.row-dir();
				.cross-center();
				.main-between();
				});
		}
	}

	&__brand {
		color: @color__white;
		font-size: 3rem;
		& img, span {
			display: inline-block;
			vertical-align: middle;
		}
		& img {
			margin-right: 11px;
		}
	}
}

.social-links {
	text-align: center;
	display: flex;
	justify-content: space-around;

	&__item {
		display: inline-block;
		width: 19px;
		text-align: center;
		// margin-right: 20px;
		color: rgba(255,255,255, 0.75);
	}

	&__item:last-child {
		margin-right: 0;
	}

	.media-tablet ({
		text-align: right;

	});
}

.main-nav__wrapper {
	height: 3em;
	width: 90%;
	margin: 20px auto 0;
	background-color: lighten(@color__purple, 10%);
	position: relative;
	border-radius: 5px;

	.media-tablet ({
		width: auto;
		height: auto;
		margin: 0;
		background-color: transparent;
	});
}

.toggler {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 5px;
  display: flex;
  align-items: center;
  width: 2em;
  height: 3em;
  line-height: 3em;
  user-select: none;

  > span {
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    height: .3rem;
    background: #fff;
    border-radius: .2rem;
    position: relative;
    transition: background .3s .5s;

    &:before,
    &:after {
      width: 100%;
      height: .3rem;
      background: #fff;
      border-radius: .2rem;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: 50% 50%;
      transition: top .3s .6s, transform .3s;
    }

    &:before {
      top: 1rem;
    }

    &:after {
      top: -1rem;
    }
  }

  &--close {
    > span {
      transition: background .3s 0;
      background: transparent;

      &:before,
      &:after {
        transition: top .3s, transform .3s .5s;
        top: 0;
      }

      &:before {
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &:after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }

  .media-tablet({display: none;});
}

.main-nav {

	padding:0;
	margin: 0;
	position: absolute;
	top:0;
	right: 0;
	left: 0;
	z-index: 2;
	display: none;

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	&__item {
		background-color: lighten(@color__purple, 10%);

		&:first-child {
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}

		&:last-child {
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}

	&__link {
		display: block;
		padding: 1em;
		color: #fff;
		text-align: left;

		&:hover {
			background-color: lighten(@color__purple, 5%);
		color: @color__white;
		}
	}

	&__item--has-children .main-nav__link {
		position: relative;

		svg {
			position: absolute;
			top: 50%;
			right: 15px;
		}
	}

	&__nested-list {
			text-align: left;
		}
		&__nested-item a {
			display: block;
			padding: 8px;
			color: @color__white;

			&:hover {
				background-color: lighten(@color__purple, 5%);
			}
		}
}

.main-nav {
	.media-tablet({
		position: static;
		display: block;
		text-align: right;
		&__list {
			display: flex;
			flex-wrap: wrap;
			.main-between();
			.cross-center();
		}

		&__item {
			display: inline-block;
			position: relative;
			background-color: rgba(146,105,205,0);
		}
		&__link {
			display: block;
			padding: 18px 10px;
			color: @color__gray-lightest;
			text-transform: uppercase;

			&:hover {
				background-color: transparent;
			}
		}

		&__item--has-children .main-nav__link{
			padding-right: 17px;

			svg {
				right: 5px;
			}
		}

		&__item--has-children:hover .main-nav__link{
			background-color: @color__white;
			color: @color__gray-dark;
		}

		&__nested-list {
			margin: 0;
			padding: 0;
			position: absolute;
			z-index: 10;
			text-align: left;
			list-style: none;
			display: none;

		}
		&__nested-item a {
			display: block;
			width: 130px;
			padding: 18px 17px;
			color: @color__gray-dark;
			background-color: @color__white;

			&:hover {
				background-color: darken(@color__white, 5%);
			}
		}
		});
}
