.reviews {
	padding: 35px 0 100px 0;

	&__wrapper {
		padding: 0 15px;
		.main-between();
	}
}

.review-item {
	padding: 24px 24px 24px 27px;
	margin-bottom: 30px;
	.shadowed-box--light();

	display: flex;
	.column-dir();
	.main-between();
	.cross-center();

	.media-tablet({
		width: 49%;
		flex-grow:0;
		.row-dir();
		.cross-start();
		});

	&__image {
		flex: 0 0 auto;
		margin-bottom: 20px;
	}

	blockquote {
		align-self: stretch;
		display: flex;
		.column-dir();

		.media-tablet({margin-left: 2.5rem;});
	}

	&__text {
		padding-bottom: 25px;
		border-bottom: 1px solid #eaeaea;
		flex-grow: 5;
	}

	&__author {
		color: @color__gray-dark;
		display: block;
		font-style: normal;
		flex: 0 0 auto;
	}

	&__author-name {
		font-weight: 700;
	}

	&__author-job {
		font-weight: 500;
	}
}

.review-item--fullwidth {
	width: 100%;
}